<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>qr_check</display-name>
  
   <servlet>
    <servlet-name>GetPhoneRamdomNoServlet</servlet-name>
    <servlet-class>com.xaut.servlet.GetPhoneRamdomNoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RepassServlet</servlet-name>
    <servlet-class>com.xaut.servlet.RepassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.xaut.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddDictionaryServlet</servlet-name>
    <servlet-class>com.xaut.servlet.AddDictionaryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDictionaryServlet</servlet-name>
    <servlet-class>com.xaut.servlet.GetDictionaryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetTeacherDataServlet</servlet-name>
    <servlet-class>com.xaut.servlet.GetTeacherDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherAddServlet</servlet-name>
    <servlet-class>com.xaut.servlet.TeacherAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetTeacherClassServlet</servlet-name>
    <servlet-class>com.xaut.servlet.GetTeacherClassServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StuQDServlet</servlet-name>
    <servlet-class>com.xaut.servlet.StuQDServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.xaut.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>com.xaut.servlet.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QDServlet</servlet-name>
    <servlet-class>com.xaut.servlet.QDServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetQDDataServlet</servlet-name>
    <servlet-class>com.xaut.servlet.GetQDDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestDeleteCookie</servlet-name>
    <servlet-class>com.xaut.servlet.TestDeleteCookie</servlet-class>
  </servlet>

 <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetStudentQDRecordServlet</servlet-name>
    <servlet-class>com.xaut.servlet.GetStudentQDRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetClassQDRecordServlet</servlet-name>
    <servlet-class>com.xaut.servlet.GetClassQDRecordServlet</servlet-class>
  </servlet>

 <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetClassTeacherDataServlet</servlet-name>
    <servlet-class>com.xaut.servlet.GetClassTeacherDataServlet</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>GetPhoneRamdomNoServlet</servlet-name>
    <url-pattern>/servlet/GetPhoneRamdomNoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepassServlet</servlet-name>
    <url-pattern>/servlet/RepassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDictionaryServlet</servlet-name>
    <url-pattern>/servlet/AddDictionaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDictionaryServlet</servlet-name>
    <url-pattern>/servlet/GetDictionaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTeacherDataServlet</servlet-name>
    <url-pattern>/servlet/GetTeacherDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAddServlet</servlet-name>
    <url-pattern>/servlet/TeacherAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTeacherClassServlet</servlet-name>
    <url-pattern>/servlet/GetTeacherClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuQDServlet</servlet-name>
    <url-pattern>/servlet/StuQDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/servlet/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/servlet/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QDServlet</servlet-name>
    <url-pattern>/servlet/QDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetQDDataServlet</servlet-name>
    <url-pattern>/servlet/GetQDDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestDeleteCookie</servlet-name>
    <url-pattern>/servlet/TestDeleteCookie</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetStudentQDRecordServlet</servlet-name>
    <url-pattern>/servlet/GetStudentQDRecordServlet</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>GetClassQDRecordServlet</servlet-name>
    <url-pattern>/servlet/GetClassQDRecordServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetClassTeacherDataServlet</servlet-name>
    <url-pattern>/servlet/GetClassTeacherDataServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
</web-app>