<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>qr_check</display-name>
  
   <servlet>
    <servlet-name>GetPhoneRamdomNoServlet</servlet-name>
    <servlet-class>com.xaut.servlet.GetPhoneRamdomNoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RepassServlet</servlet-name>
    <servlet-class>com.xaut.servlet.RepassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.xaut.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddDictionaryServlet</servlet-name>
    <servlet-class>com.xaut.servlet.AddDictionaryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDictionaryServlet</servlet-name>
    <servlet-class>com.xaut.servlet.GetDictionaryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTeacherDataServlet</servlet-name>
    <servlet-class>com.xaut.servlet.GetTeacherDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherAddServlet</servlet-name>
    <servlet-class>com.xaut.servlet.TeacherAddServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>GetPhoneRamdomNoServlet</servlet-name>
    <url-pattern>/servlet/GetPhoneRamdomNoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepassServlet</servlet-name>
    <url-pattern>/servlet/RepassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDictionaryServlet</servlet-name>
    <url-pattern>/servlet/AddDictionaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDictionaryServlet</servlet-name>
    <url-pattern>/servlet/GetDictionaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTeacherDataServlet</servlet-name>
    <url-pattern>/servlet/GetTeacherDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAddServlet</servlet-name>
    <url-pattern>/servlet/TeacherAddServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
</web-app>